---
import { Image } from "astro:assets";
import logoMaxGain from "./logo-max-gain.svg";
import logoLionline from "./clients/lionline.svg";
import logoTornado from "./clients/tornado.svg";
import logoUnitedRemote from "./clients/unitedremote.svg";

import logoedict from "./providers/edict.svg";
import logoendorphina from "./providers/endorphina.svg";
import logoevolution from "./providers/evolution.svg";
import logofeelspin from "./providers/feelspin.svg";
import logogameart from "./providers/gameart.svg";
import logomga from "./providers/mga.svg";
import logomicrogaming from "./providers/microgaming.svg";
import logooryx from "./providers/oryx.svg";
import logopragmatic from "./providers/pragmatic.svg";
import logoredrake from "./providers/redrake.svg";
import logorfranco from "./providers/rfranco.svg";
import logopushgaming from "./providers/pushgaming.svg";
import logoplaytech from "./providers/playtech.svg";
import logothunderkick from "./providers/thunderkick.svg";
import logoplayngo from "./providers/playngo.svg";

import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Max Gain Development" />
    <title>Max Gain Development</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="min-h-screen text-white font-montserrat bg-[#006884] bg-cross-pattern"
  >
    <div class="color-gradient w-full min-h-screen h-full">
      <Navigation />
      <main class="flex flex-col gap-10 py-10 px-6 container mx-auto">
        <header class="grid place-items-center">
          <Image
            width={350}
            height={350}
            src={logoMaxGain}
            loading={"eager"}
            alt="Max Gain Development Logo"
          />
        </header>
        <section class="flex flex-col gap-10">
          <h2 class="opacity-50 text-center text-sm">
            SOME OF OUR INTEGRATIONS
          </h2>
          <ul
            class="flex flex-row align-middle justify-center place-items-center gap-10 flex-wrap opacity-40 w-8/12 mx-auto"
          >
            <li class="w-32">
              <Image
                class="w-full h-full"
                src={logopragmatic}
                alt="Pragmatic logo"
              />
            </li>
            <li class="w-32">
              <Image
                class="w-full h-full"
                src={logopushgaming}
                alt="Pushgaming logo"
              />
            </li>
            <li class="w-32">
              <Image
                class="w-full h-full"
                src={logoplayngo}
                alt="Play N Go logo"
              />
            </li>
            <li class="w-32">
              <Image
                class="w-full h-full"
                src={logothunderkick}
                alt="Thunderkick logo"
              />
            </li>
            <li class="w-32">
              <Image
                class="w-full h-full"
                src={logoplaytech}
                alt="Playtech logo"
              />
            </li>
            <li class="w-32">
              <Image class="w-full h-full" src={logoedict} alt="Edict logo" />
            </li>
            <li class="w-32">
              <Image
                class="w-full h-full"
                src={logoendorphina}
                alt="Endorphina logo"
              />
            </li>
            <li class="w-32">
              <Image
                class="w-full h-full"
                src={logoevolution}
                alt="Evolution logo"
              />
            </li>
            <li class="w-32">
              <Image
                class="w-full h-full"
                src={logofeelspin}
                alt="Feelspin logo"
              />
            </li>
            <li class="w-32">
              <Image
                class="w-full h-full"
                src={logogameart}
                alt="Gameart logo"
              />
            </li>

            <li class="w-32">
              <Image class="w-full h-full" src={logomga} alt="MGA logo" />
            </li>
            <li class="w-32">
              <Image
                class="w-full h-full"
                src={logomicrogaming}
                alt="Microgaming logo"
              />
            </li>
            <li class="w-32">
              <Image class="w-full h-full" src={logooryx} alt="Oryx logo" />
            </li>
            <li class="w-32">
              <Image
                class="w-full h-full"
                src={logoredrake}
                alt="RedRake logo"
              />
            </li>
            <li class="w-32">
              <Image
                class="w-full h-full"
                src={logorfranco}
                alt="Rfranco logo"
              />
            </li>
          </ul>
        </section>
        <section class="flex flex-col mt-20 sm:gap-10">
          <h2 class="opacity-50 text-center text-md">TRUSTED BY</h2>
          <ul
            class="flex flex-row align-middle justify-evenly place-items-center sm:gap-2 flex-wrap opacity-40 w-8/12 mx-auto"
          >
            <li class="w-32 h-32">
              <Image
                class="w-full h-full"
                src={logoUnitedRemote}
                alt="United Remote Logo"
              />
            </li>
            <li class="w-32 h-32">
              <Image
                class="w-full h-full"
                src={logoLionline}
                alt="Lionline Logo"
              />
            </li>
            <li class="w-32 h-32">
              <Image
                class="w-full h-full"
                src={logoTornado}
                alt="Tornado logo"
              />
            </li>
          </ul>
        </section>
      </main>
    </div>
  </body>
</html>
<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .color-gradient {
    background: radial-gradient(
      circle at bottom,
      rgba(0, 104, 132, 0) 20%,
      rgba(0, 0, 0, 1) 80%
    );
  }
</style>
